* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calculator {
	border: 1px solid black;
	padding: 4px;
	width: 280px;
	height: 440px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.calculator .display {
	width: 100%;
	height: 120px;
	border: 1px solid black;
	background-color: gray;
	padding: 2px;
	flex: 1;
	margin-bottom: 10px;
}

.calculator .keypad {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	flex: 4;
}

.keypad .left {
	flex: 3;
	display: flex;
	flex-direction: column;
	gap: 4px;
  justify-content: space-between;
}

.left .symbols {
	display: flex;
	gap: 4px;
	flex: 1;
}

.left .num_keys {
	display: flex;
	gap: 4px;
	flex-wrap: wrap;
	flex: 4;
}

.left .num_keys .each {
	flex: 1 0 30%;
}

.operators {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-left: 4px;
	flex: 1;
}

.each {
	background-color: gray;
	flex: 1;
}
