* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Digital-7 (mono)";
	src: url("fonts/digital-7 (mono).ttf");
}

body, html {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 102px;
}

.calculator {
	border: 1px solid black;
	padding: 4px;
	width: 280px;
	height: 440px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.calculator .display {
	width: 100%;
	height: 120px;
	border: 1px solid black;
	padding: 2px;
	flex: 1;
	margin-bottom: 10px;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	flex-wrap: wrap;
	font-family: "Digital-7 (mono)";
	background-color: rgb(69, 105, 102);
}

.screen {
	font-size: 40px;
	flex: 3;
	margin: 0 4px;
}

.lastResult {
	flex: 1;
	font-size: 22px
}

.op {
	font-family: monospace;
	font-size: 16px;
	flex: 1;
	align-self: flex-start;
}

.calculator .keypad {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	flex: 4;
}

.keypad .left {
	flex: 3;
	display: flex;
	flex-direction: column;
	gap: 4px;
  justify-content: space-between;
}

.left .symbols {
	display: flex;
	gap: 4px;
	flex: 1;
}

.left .num_keys {
	display: flex;
	gap: 4px;
	flex-wrap: wrap;
	flex: 4;
}

.left .num_keys .each {
	flex: 1 0 30%;
}

.operators {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-left: 4px;
	flex: 1;
}

.each {
	background-color: gray;
	flex: 1;
	transition: all 0.05s ease-out;
}
.clicked {
	background-color: whitesmoke;
	transform: scale(0.9);
}

ul {
	list-style-type: square;
}
.none {
	display: none;
	transition: 0.2s all ease-out;
}
.label{
	line-height: 2;
	font-family: arial;
}
code {
	background-color: grey;
	color: red;
	font-family: monospace;
	font-weight: 700;
	padding: 4px;
	margin: 4px;
}
.expand {
	padding: 4px;
	background-color: green;
	font-weight: 700;
}